body {
    max-width: 1920px;
	margin: 0;
	background-color: #180919;
	/*background-image: url(img/banner.png);
	background-repeat: no-repeat;
	background-position: center 0;*/
    color: rgba(255, 255, 255, 0.9);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
a {
	color: rgba(255, 255, 255, 0.9);
}
p {
    margin: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0 24px 0 24px;
	min-height: 64px;
    max-width: 1872px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}
.left-header {
	display: flex;
	align-items: center;
}

.logo {
	display: inline-flex;
	align-items: center;
	height: 44px;
    max-width: 200px;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
.logo img {
	height: 44px;
    max-width: 200px;
}

.top-navigation {
	display: flex;
	margin-left: 32px;
    min-height: 64px;
    flex-wrap: wrap;
}
.top-navigation ul {
	padding-left: 0;
	margin-bottom: 0;
}
.top-navigation ul li {
	list-style-type: none;
}
.top-navigation ul li a {
	justify-content: center;
	vertical-align: middle;
	background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    line-height: 1.5;
    min-height: 64px;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 6px 12px 18px 12px;
}
.top-navigation ul li .active-navigation-link-user,
.top-navigation ul li a:focus {
	border-bottom: 4px solid #f58505;
}
.right-heder {
	display: flex;
	align-items: center;
}
.right-heder p {
    margin-right: 1.5rem;
}
.right-heder p:last-child {
    margin-right: 0;
}
.right-heder .search-button {
	text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    fill: #fff;
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 11px 12px 11px 12px;
    font-size: 1.75rem;
}
.right-heder .search-button svg {
	width: 24px;
	height: 24px;
}
.right-heder .entrance {
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    margin: 0;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    max-height: 36.5px;
    padding: 5px 15px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(245, 133, 5, 0.5);
    color: #f58505;
    cursor: pointer;
}
.right-heder .entrance:hover {
	border: 1px solid #f58505;
}
.index-main {
	display: flex;
	flex-direction: column;
	padding-top: 64px;
	min-height: 100vh;
    max-width: 1920px;
}
.banner {
	display: flex;
	margin-top: -64px;
	margin-bottom: -100px;
	height: 70vh;
    overflow: hidden;
    position: relative;
}
.banner-img {
	display: flex;
	z-index: -1;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.banner-img:before {
	content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    pointer-events: none;
    background-image: linear-gradient(transparent, rgba(24, 9, 25, 0.1), rgba(24, 9, 25, 0.5), #180919);
}
.banner-img img {
	display: block;
    object-position: center center;
    object-fit: cover;
    height: auto;
    width: 100%;
}
.banner-text {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	padding-top: 24px;
    max-width: 600px;
	-webkit-box-pack: center;
	justify-content: center;
	margin-left: auto;
    margin-right: auto;
}
.banner-text span {
	font-size: 4.5rem;
	font-weight: 800;
    line-height: 1.1;
    text-shadow: 0px 0px 20px black;
    text-align: center;
    text-transform: uppercase;
}
.banner-text h1 {
	font-size: 1.3rem;
	font-weight: 400;
    line-height: 1.3;
    text-shadow: 5px 0px 15px #000;
    text-align: center;
}
.index-live {
	margin: 64px 24px 0 24px;
}
.index-live h2 {
	display: flex;
	margin: 0;
	align-items: center;
	flex-wrap: nowrap;
	font-size: 2.0243rem;
	font-weight: 600;
	line-height: 1.235;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 25px 0px 16px;
    margin-right: 4px;
    text-transform: uppercase;
}
.index-live-list {
	box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
}
.index-live-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    overflow: hidden;
    border-radius: 4px;
}
.index-live-banner img {
    display: block;
    width: 100%;
    border-radius: 4px;
}
.index-live-item {
	webkit-flex-basis: 23.7%;
    -ms-flex-preferred-size: 23.7%;
    flex-basis: 23.7%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 23.7%;
    min-height: 23.7%;
	padding-left: 1.3%;
	padding-top: 24px;
    z-index: 1;
}
.index-live-item-video a {
    border-radius: 4px;	
    position: relative;
    display: block;
    color: inherit;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(24, 24, 24);
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
    height: 0;
    padding-top: 75%;
}
.index-live-item-video a .label-block,
.index-live-item-video a .label {
	position: absolute;
    right: 8px;
    top: 8px;
    background-color: #e91e63;
    color: white;
    border-radius: 4px;
    padding: 0px 4px;
    height: 20px;
    font-size: 0.75rem;
    line-height: 1.66;
}
.index-live-item-video a .label-block {
    padding: 5px 4px 1px 4px;
    background-color: #000; 
    height: auto;
}
.index-item-text-wrap,
.index-live-item-text {
	display: flex;
	width: 100%;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
	align-items: flex-start;
    padding: 16px 0;
}
.index-item-text-wrap {
    flex-direction: column;
    height: 12.5rem;
    padding-bottom: 0;
}
.index-item-text-wrap p,
.index-item-text-wrap a,
.index-live-item-text a {
    display: block;
	font-size: 1.4rem;
	font-weight: 500;
	-webkit-text-decoration: none;
    text-decoration: none;
    line-height: 1.334;
}
.index-item-text-wrap ul {
    margin-top: 1.5rem;
    padding-left: 15px;
}
.index-item-text-wrap ul li {
    color: rgba(251, 251, 251, 0.58);  
}
footer {
    pointer-events: none;
    position: relative;
    z-index: 2;
    margin-top: auto;
    padding-top: 80px;
    width: 100%;	
}
.footer-container {
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, 0.03);
    padding: 16px 24px;
    pointer-events: all;
    margin-top: 17rem;
}
.footer-left-column {
	-webkit-flex-basis: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    max-width: 25%;
}
.footer-left-column p {
	font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    text-align: center;	
    margin: 0;
}
.footer-left-column span {
	display: block;
	font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.footer-center-column {
	display: flex;
	flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
	flex-basis: 50%;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	max-width: 50%;
	padding-left: 16px;
	padding-top: 16px;
}
.footer-center-column a {
	margin-right: 16px;
	font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-decoration: none;
    text-decoration: none;
}
.footer-center-column a:last-child {
	margin-right: 0;
}
.footer-center-column a:hover,
.footer-center-column a:active {
    outline: none;
    box-shadow: none;
    color: rgb(245, 133, 5);
}

.footer-right-column {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 24%;
	-webkit-box-pack: center;
	flex-direction: row;
	margin-top: -8px;
	margin-left: -8px;
	padding-top: 16px;
	-webkit-box-pack: center;
}
.footer-right-column a {
	background-color: #f58505;
    color: rgba(0, 0, 0, 0.87);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 1.125rem;
    border-radius: 50%;
    overflow: visible;
    width: 34px;
    height: 34px;
}
.footer-right-column a svg {
	user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
	flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    touch-action: none;
}
/*-------------Страница администратора-------------*/
.body-admin {
    background-color: #131313;
}
.admin-header {
    position: relative;
    background-color: #252525;
}
.dropdown {
    position: relative;
}
.profile-popup {
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    width: 100%;
    border-radius: 4px;
    border-top: 8px solid transparent;
    background-color: transparent;
}
.profile-popup,
.profile-popup div {
   float: left;
}
.dropdown:hover .profile-popup {
    display: flex;
    flex-direction: column;
    min-width: 165px;
 }
.profile-popup-top,
.profile-popup-bottom {
    flex: 1; 
    background-color: #342735; 
}
.profile-popup-top {
    padding: 15px 6px 0 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #757575; 
}
.profile-popup-top span,
.profile-popup-top p {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
}
.profile-popup-top span {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.profile-popup-top p {
    margin-bottom: 1rem;
}
.profile-popup-bottom {
    padding: 0 0 15px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
}
.profile-popup-user .profile-popup-bottom {
    border-radius: 4px;
}
.profile-popup-bottom a {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.profile-popup-bottom a img {
    width: 22px;
    margin-right: 0.8rem;
}
.profile-popup-bottom a:first-child img {
    width: 22px;
}
.profile-popup-user .profile-popup-bottom a:first-child img {
  /*width: 30px;*/
}
.profile-popup-bottom a {
    margin-top: 0.7rem;
}
.profile-popup-bottom a:first-child {
    margin-top: 0.8rem;
}
.admin-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
}
/*--------Меню администратора--------*/
.admin-back {
   background-color: #181818; 
}
.admin-menu {
    display: flex;
    flex-direction: column;
    max-width: 250px;

}
.admin-menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}
.admin-tour-logo {
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px;
    margin-top: 1rem;
    border-radius: 50%;
    background-color: #342735;

}
.admin-tour-logo img {
    max-width: 80%;
    margin: 0 auto;
}
.admin-menu-header span {
    display: flex;
    text-align: center;
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    max-width: 85%;
    font-weight: 600;
    font-size: 1.4rem;
}
.admin-navigation {
    display: flex;
    flex-direction: column;
    min-width: 190px;
}
.admin-navigation-list {
    margin: 2px 0 0 0;
    padding: 0.8rem 0 1.1rem 0;
}
.admin-navigation-item {
    font-weight: 600;
    list-style-type: none;
    line-height: 2;
}
.admin-navigation-link {
    display: flex;
    text-decoration: none;
    padding: 0.3rem 0 0.3rem 1rem;
}
.active-navigation-link {
    background-color: #434343;
}
.admin-navigation-link:hover,
.admin-navigation-link:focus {
    outline: none;
    box-shadow: none;
    background-color: #434343;

}
.admin-menu-icon {
    margin-right: 1rem;
    max-width: 30px;
    max-height: 30px;
}
/*--------Контент админа--------*/
.admin-content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
}
.admin-content-raw {
    flex-direction: row;
}
.top-menu-admin,
.block-admin-content {
    display: flex;
    flex-direction: column;
}
.top-menu-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}
.top-menu-title {
    padding: 0;
    margin: 0;
}
.user-button-ok,
.user-button,
.top-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin: 0;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 64px;
    max-height: 36.5px;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid rgba(245, 133, 5, 0.5);
    background-color: #f58505;
    color: #feeeee;
    cursor: pointer;
}
.user-button-ok,
.user-button {
    display: flex !important;
    align-items: baseline;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 12px 15px 14px 15px;
    font-weight: 700 !important;
    color: #000;
    box-sizing: content-box;
    max-height: max-content;
}
.user-button-ok {
    font-weight: 500 !important;
    cursor: default;
}
.user-button-text,
.user-button-old-price {
    font-weight: 600 !important;
    font-size: .9rem;
    text-decoration: line-through;
    text-align: left;
    line-height: 0.6rem;
}
.user-button-subs {
    padding: 6px 15px 10.4px 15px;
}
.user-button-text {
    text-decoration: none;
    font-weight: 700 !important;
}
.user-button-slash {
    padding: 0 5px;
}
.top-menu-sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}
.admin-input-box,
.user-input-box {
    position: relative;
    width: 30%;
    min-width: 250px;
    margin-top: 1rem;
}
.admin-input-wrap {
    width: 100%;
}
.admin-input-box label {
    position: absolute;
    padding: 0 5px;
    top: -11px;
    background-color: #181818;
    left: 14px;
    font-size: 13.5px;
    color: #c4c4c4;
}
.user-input-box label {
    position: absolute;
    padding: 0 5px;
    top: -11px;
    background-color: #180919;
    left: 14px;
    font-size: 13.5px;
    color: #c4c4c4;
}
.user-input,
.admin-input {
    outline: 0;
    margin: 0;
    width: 96%;
    min-height: 20px;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    background-color: #181818;
    padding: 1rem;
    padding-right: 0;
    border-radius: 4px;
    border: 1px solid #595959;
}
.user-input {
    background-color: #180919 !important;
    margin-bottom: 1rem;
    width: -moz-available;
    width: -webkit-fill-available;
}
.admin-input-min {
    min-height: auto;
    line-height: 1.2;
    padding: 0.9rem 0 0.9rem 0.9rem;

}
.block-admin-input {
    width: -moz-available;
    width: -webkit-fill-available;
}
.admin-input-select {
    height: 58.5px;;
}
.admin-input-select::-ms-expand { 
    display: none;
} 
.admin-input:hover {
    border-color: #f58505;
}
.admin-input:focus,
.admin-input-select:focus {
    border-color: #f58505; 
    box-shadow: 0 0 1px 1px #f58505;
    box-shadow: 0 0 0 1px -moz-mac-focusring; 
    color: #868686;
    outline: none; 
}
.user-input:focus {
    border-color: #f58505; 
    box-shadow: 0 0 1px 1px #f58505;
    box-shadow: 0 0 0 1px -moz-mac-focusring; 
    color: #868686;
    outline: none; 
}
.block-admin-input:focus {
    color: #fff;
}
.respons-input {
    font-weight: normal;
    font-size: 1rem;
    min-height: 200px;
}
.block-admin-prem-input {
    color: #868686;
}
.admin-video-sort {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 0.5rem;
}
.admin-video-sort-wrap {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    margin-right: 2.3rem;
}
.admin-video-sort-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}
.admin-video-sort-item {
    list-style-type: none;
    margin-right: 2.3rem;
    margin-top: 1rem;
}
.admin-video-sort-check {
    display: none;
}
.admin-video-check-label {
    position: relative;
    padding-left: 3.3rem;
}
.admin-video-check-label::before {
    content: '\2713';
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #c4c4c494;
    border-radius: 4px;
    color: transparent;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
}
.admin-video-sort-check:checked + .admin-video-check-label::before {
content: '\2713';
  border-color: #f58505;
  color: #f58505;
}
.admin-video-btn {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #c4c4c494;
    letter-spacing: 1px;
}
.video-btn-active {
    color: #fff;
    cursor: pointer;
}
.admin-video-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.admin-video-item,
.block-admin-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    min-height: 5.5rem;
    border-radius: 4px;
}
.admin-video-item {
    margin-right: 0;
}
.block-admin-container {
    flex-direction: column;
}
.block-admin-left {
    max-width: 65%;
    width: -moz-available;
    width: -webkit-fill-available;
}
.block-admin-right {
    max-width: 40%;
    padding-right: 0.5rem;
}
.block-admin-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block-admin-section-item {
    position: relative;
    width: 49%;
}
.block-admin-sector {
    margin-right: 0;
    padding: 0;
}
.block-admin-right .block-admin-container {
    margin-right: 0;
}
.social-list-item {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: none;
}
.social-list-item img {
    max-width: 35px;
}
/*Выделенный чекбокс*/
.admin-video-item-active {
    background-color: #673ab7;
}
/*------------------*/
.admin-video-prev {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 95px;
    width: 140px;
    max-height: 5.5rem;
    min-height: 5rem;
    margin-right: 1rem;
    background-color: #0f0f0f;
    border-radius: 4px;
    align-items: center;
}
.admin-video-prev p{
    left: 14px;
    font-size: 13px;
    color: #c4c4c4;
}
.admin-video-prev-stik {
    position: absolute;
    left: 0;
    top: 0;
}
.admin-video-item .admin-video-sort-wrap {
    align-items: baseline;
    margin-right: 0;
    margin-top: 0.5rem;
}
.admin-video-item-header {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.admin-video-item-h-list,
.admin-video-item-h-hashtag {
    display: flex;
    flex-wrap: wrap;
}
.admin-video-item-h-list span,
.admin-video-item-h-date,
.tr-wrapper th {
    font-weight: 600;
    font-size: 20px;
    margin-right: 0.5rem;
}
.tr-wrapper th {
width: 8.5rem;
text-align: left;
}
.tr-wrapper td {
    display: flex;
    width: 9rem;
    text-align: left;
}
.td-item-action {
    flex-direction: column;
}
td a {
    font-size: 0.8rem;
    letter-spacing: 1px; 
    margin-bottom: 0.5rem;
}
td a:hover,
td a:active,
td a:focus {
    outline: none;
    box-shadow: none;
    color: rgb(245, 133, 5); 
}
.del-button {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    background-color: #E91E63;
    color: #fff;
    cursor: pointer;
    min-height: 1.5rem;
    padding: 0 5px 3px 5px;
}
.admin-video-item-h-hashtag span:last-child,
.admin-video-item-h-list span:last-child {
    margin-right: 0;
}
.admin-video-item-h-hashtag span {
    border: 1px solid #c4c4c494;
    border-radius: 15px;
    padding: 0 6px 2px 6px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    color: #c4c4c494;
    font-size: 13px;
    font-weight: normal;
}
.admin-video-item-view {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0.5rem;
    text-align: center; 
}
.pay-per-view-text,
.admin-video-item-view p {
    margin: 0;
    color: #c4c4c494;
    font-size: 14px;
}
.admin-video-item-v-count,
.admin-video-item-i-time {
    margin: 0;
    font-weight: 600;
}
.admin-video-item-v-count span {
    margin-right: 0.5rem;
}
.admin-video-item-i-time span {
    margin-left: 0.5rem;
}
.admin-video-item-info {
    align-items: flex-end;
    text-align: right;
    margin-right: 0;
}
.admin-video-item-i-link,
.admin-video-item-i-link img {
    max-width: 20px;
}
.admin-video-item-i-link {
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.admin-video-link-stream,
.admin-video-link-copy {
    position: absolute;
    top: 1px;
    right: 3rem;
    background-color: #181818;
    height: 96%;
    width: 3rem;
}
.admin-video-link-renew {
    position: absolute;
    top: 5px;
    left: 2px;
    background-color: #181818;
    height: 90%;
    width: 3rem;  
}
.user-search-btn {
    background-color: transparent;
    height: 65%;
}
.search-title {
 padding-top: 0 !important;
}
.admin-video-link-copy {
    right: 2px;
}
.admin-video-link-renew img,
.admin-video-link-stream img,
.admin-video-link-copy img {
    display: block;
    margin: 0 auto;
    margin-top: 1.1rem;
    max-width: 20px;
}
.admin-video-link-copy img {
    max-width: 23px;
}
.block-admin-input-key {
    padding-left: 3.5rem !important;
}
.paid-sort-none,
#close-paid-sort {
    display: none;
}
.close-btn {
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}
.left-header .close-btn {
    margin-left: -5px;
    margin-right: 1rem;
}
.add-preview-tournir {
    border-radius: 4px;
    min-height: 10rem;
    height: fit-content;
    background-color: #342735; 
 }
.add-preview-tournir img {
    border-radius: 4px;
    max-width: 100%;
}

.edit-preview-tournir {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    bottom: 0;
    background-color: #0000003b;
    height: 3.5rem;
    text-align: right;
}
.remove-preview-tournir {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    text-decoration: none;
    max-height: 30px;
}
.preview-tournir-vis {
    position: relative;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}
.preview-tournir-vis img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.preview-tournir-vis:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: center url(img/no_stream1.png) no-repeat;
    background-color: #00000087;
}
.popup-back-user {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000d6;
    z-index: 10;
}

.popup-back {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000d6;
    z-index: 10;
}

.popup-container {
    background-color: #180919;
    border-radius: 4px;
    width: 32rem;
    max-width: 520px;
    margin: 0 auto;
    margin-top: 5%;
}
.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-title-wrap {
    width: 100%;
    background-color: #1F1120;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.2);
}
.popup-content-wrap {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 1rem 1rem 0 1rem;
}
.popup-title-none {
    display: none !important;
}
.popup-content-wrap-item {
    display: none;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 1rem 1rem 0 1rem;
}
.is-active {
    display: flex !important;
}
.popup-content .top-menu-btn {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.popup-content .popup-title-wrap-row .top-menu-btn {
    width: auto;
}
.user-input {
    margin: 0px;
    margin-bottom: 1rem;
    width: 96%;
    outline: none;
    min-height: 20px;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 1rem 0px 1rem 1rem;
    border-radius: 4px;
    border: 1px solid rgb(89, 89, 89);
}
.user-input:focus,
.user-input:active {
    border-color: #f58505;
    box-shadow: 0 0 1px 1px #f58505;
}
.popup-title {
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.popup-close {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}
.popup-close img {
    max-width: 22px;
}
.popup-title-wrap .top-navigation {
    margin-left: 0;
    min-height: 55px;
}
.popup-title-wrap .top-navigation ul li a {
    padding: 6px 12px 13px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.popup-title-wrap-row {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 1rem;
    align-items: center;
}
.popup-title-wrap-row .top-menu-btn {
    margin: 0;
}
.popup-content-wrap-row {
    display: flex;
    justify-content: space-between;
}
.register-wrapper {
    justify-content: space-between;
    margin-bottom: 1rem;
}
.remember-wrapper {
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.remember-wrapper label,
.register-wrapper a {
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.remember-wrapper .admin-video-check-label {
    padding-left: 2.3rem;
}
.remember-wrapper label {
    cursor: pointer;
}
.remember-wrapper label:before {
    font-size: 12px;
}
.register-wrapper a:hover,
.register-wrapper a:active,
.register-wrapper a:focus {
    outline: none;
    box-shadow: none;
    color: #f58505;
}
.popup-content-wrap-row .user-input {
    width: 44.5%;
}
.user-input-box {
    width: 100%;
    min-width: 250px;
    margin-top: 1rem;
}
.popup-content-wrap .admin-input-box {
    width: 100%;
}
.popup-content-wrap .admin-input-box label {
    background-color: #180919;
    letter-spacing: 1px;
}
.user-input-list {
    outline: 0;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    min-height: 20px;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    background-color: #180919;
    padding: 1rem;
    padding-right: 0;
    border-radius: 4px;
    border: 1px solid #595959;
}
.popup-content-wrap-row .admin-input-box,
.popup-content-wrap-row .user-input-box {
    width: 48%;
    min-width: 100px;
}
.user-input-box-wrap {
    display: flex;
    width: 100%;
    min-height: 271px;
    margin-bottom: 1rem;
}
.user-box-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.user-box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.user-box-item-img {
    display: flex;
    align-items: center;
    background-color: #252525;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-right: 0.5rem;
}
.user-box-item-img img {
    margin: 0 auto;
    max-width: 45px;
    max-height: 45px;
}
.admin-box-item-img img {
    margin: 0 auto;
    max-width: 28px;
    max-height: 28px;
}
.admin-box-item-text {

}
.admin-box-item-text span {
    font-weight: 600;
}
.admin-box-item-text p {
    font-size: 13.5px;
    color: rgb(196, 196, 196);
}
.disp-fl-sb {
    display: flex;
    justify-content: space-between;
}
.fl-dir-col {
    flex-direction: column;
}
.mb-none {
    margin-bottom: 0 !important;
}
.mr-none {
    margin-right: 0 !important;
}
.mt-1r {
    margin-top: 1rem;
}
.user-box-no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
.no-data-title {
    font-size: 1.5rem;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.no-data-text {
    font-size: 13px;
    color: #c4c4c4;
    letter-spacing: 1px;
    font-weight: 600;
}
.no-data-img {
    max-width: 72px;
}
.tbody-wrapper {
    display: block;
    width: 100%;
    padding-top: 0.5rem;
}
.tr-wrapper {
    justify-content: space-between;
    min-height: 2rem;
    flex-wrap: nowrap;
}
.tr-wrapper-mb {
    margin-bottom: 0.5rem;
}
.menu-btn-grey {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 64px;
    max-height: 36.5px;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #434343;
    background-color: #434343;
    color: #feeeee;
}
.view-count-stream-item {
    margin-right: 0.5rem;
}
.soc-container {
    min-height: 1rem;
}
.soc-container .admin-input-wrap .social-list {
   text-align:  center; 
}
.admin-choose-cam {
    margin-bottom: 1rem;
}
.menu-btn-grey-link {
    cursor: pointer;
}
.top-menu-btn-link,
.menu-btn-grey-link {
    position: relative;
    padding-left: 2.5rem;
}
.top-menu-btn-link:before {
    position: absolute;
    top: 5px;
    left: 9px;
    content: url(img/no_video.png);
}
.menu-btn-grey-link:before {
    position: absolute;
    top: 5px;
    left: 9px;
    content: url(img/plus.png);
}
.block-admin-container p {
    font-size: .9rem;
    margin: 0;
    margin-bottom: 0.5rem;
}
.admin-link-item {
    text-decoration: none;
    color: rgb(245, 133, 5);
    font-size: .9rem;
    margin-bottom: 1rem;
}
.admin-link-item:hover {
    outline: none;
    box-shadow: none;
    color: #fff;
    text-decoration: underline;
}
.admin-input-mb {
    margin-bottom: 1rem;
}
.block-admin-right-monitor {
    max-width: 30%;
}
.block-admin-left-monitor {
    width: inherit;
    max-width: 100%;
}
.block-admin-left-monitor .block-admin-section {
    justify-content: flex-start;
}

.log-titel-min {
    font-weight: 600;
    font-size: 20px !important;
    margin-right: 0.5rem;
    margin: 0;
    margin-bottom: 1rem;
}
.monitor-cart-min {
    min-height: 2rem; 
}
.block-analitic-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.analitik-window {
    width: 100%;
    min-height: 20vh;
    border-radius: 4px;
    border: 1px solid #595959;
}
.admin-input-row {
    display: flex;
    min-width: 13rem;
}
.analitik-eye {
    margin-right: 1rem;
    width: 48px;
    height: 60px;
}
.restream-select {
    max-width: 4.5rem;
}
.restrem-manage-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.restrem-manage-wrapper p {
    font-size: 1rem;
    margin-bottom: 0;
}
.restream-select-btn {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    color: #c4c4c494;
    font-size: 1.5rem;
    cursor: pointer;
}
.restream-select-btn:hover {
    color: #fff
}
.restream-row {
    flex-wrap: nowrap;
}
.admin-input-width50 {
    width: 48%;
}
.admin-input-width25 {
    width: 22%;
    min-width: 198px;
}
.admin-input-width-date {
    width: 94.7%;
}
.img-search-admin {
    margin-top: 1rem !important;
}
.admin-prod-hashtag {
    border: none !important; 
    padding: 0 6px 2px 0 !important;
    margin-top: 0.7rem !important;
    color: #c4c4c494;
    font-size: 15px !important;
    font-weight: normal;
}
.admin-prod-item-view {
    text-align: left;
}
.prod-mr {
    margin-right: 0.5rem;
}
.all-video-btn {
    padding: 0 12px 12px 12px;
    color: #f58505;
    font-size: 1.1rem;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 4px solid #f58505;
    cursor: pointer;
}
.menu-btn-grey-active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    user-select: none;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 64px;
    max-height: 36.5px;
    padding: 5px 15px;
    color: #feeeee;

    border-radius: 4px;
    border: 1px solid rgba(245, 133, 5, 0.5);
    background-color: #f58505;
    cursor: pointer;
}
.block-admin-left-w1080 {
    max-width: 1080px;
}
.block-admin-left-w650 {
    max-width: 650px;
}
.fix-position {
    position: fixed;
    margin-inline: auto;
    inset-block-start: 50%;
    transform: translateY(-50%);
}
.add-position-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0px;
    margin: 0px;
    margin-right: 0px;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 64px;
    max-height: 36.5px;
    padding: 5px 15px;
    padding-left: 15px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(245, 133, 5, 0.5);
    color: rgb(254, 238, 238);
    cursor: pointer;
}
.add-position-btn:hover {
    background-color: rgb(245, 133, 5);
}
.list-item-wrp {
    position: relative;
    list-style-type: none;
    display: flex;
    padding-left: 0;
}
.type-price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 64px;
    max-height: 36.5px;
    padding: 5px 15px;
    background-color: #434343;
    color: #feeeee;
    cursor: pointer;
    border: 1px solid  #434343; 
}
.type-price-left {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; 
}
.type-price-right {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.type-price-active {
    border: 1px solid rgba(245, 133, 5, 0.5);
    background-color: #f58505;
    cursor: default;
}
#add-position-btn-subscrip {
    display: none;
}
.product-content-popup {
    display: none;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000000d6;
}
.add-price-show {
    display: flex;
}
.block-w100 {
    width: 100%;
}
.justi-sp-b {
    justify-content: space-between;
}
.justi-fl-st {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.marg-r-0 {
    margin-right: 0;
}
.marg-l-0 {
    margin-left: 0;
}
.marg-t-0 {
    margin-top: 0;
}
.marg-b-1r {
    margin-bottom: 1rem !important;
}
.width50 {
    width: 47.5%;
}
.padd-1rm {
    padding: 1rem;
}
.padd-0 {
    padding: 0;
}
.pr-0 {
    padding-right: 0;
}
.pr-24px {
    padding-right: 24px;
}
.pl-24px {
    padding-left: 24px;
}
.block-w-avai {
    width: -moz-available;
    width: -webkit-fill-available;
}
.preview-product-vis-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: -moz-available;
    width: -webkit-fill-available;
    border: 1px solid #595959;
    border-radius: 4px;
    min-height: 16rem;
    cursor: pointer;
    text-decoration: none;
}
.preview-product-vis-upload:after {
    content: url(img/upload.png);
    position: absolute;
    top: 37%;
}
.preview-product-vis-upload img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.price-item-wrapper {
    padding-left: 1rem;
}
.remove-price-item,
.edit-price-item {
    position: absolute;
    top: 35%;
    right: 1rem;
    text-decoration: none;
    max-height: 30px;
}
.edit-price-item {
    right: 4.5rem;
}
.edit-price-item img {
    width: 28px;
}
.bord-none {
    border: none; 
}
.price-item-bold {
    font-weight: 700;
}
.save-st {
    margin-right: 1rem !important;
}
.pb-none {
    padding-bottom: 0;
}
.min-h-58_5 {
    min-height: 58.5px;
}
.min-h-58_5:after {
    top: 30%;
    right: 1rem;
}
.table-one-column {
    width: 20rem !important;
}
.table-one-column-70 {
    width: 70% !important;
}
.table-one-column-check {
    width: 3rem !important;
}
.access-country-content {
    display: flex;
    flex-direction: column;
}
.access-country-content-title {
    font-weight: 600;
    color: #c4c4c494;
}
.promo-prew-admin {
    border-radius: 11px;
    padding: 2px 6px 2px 6px;
    background-color: #c4c4c494;
    font-weight: normal;
}
.balance-paid-admin {
    border-radius: 13px;
    padding: 2px 6px 4px 6px;
    height: min-content;
    background-color: #388e3c;
    font-weight: normal;
}
.balance-cancel-admin {
    border-radius: 13px;
    padding: 2px 6px 4px 6px;
    height: min-content;
    background-color: #d32f2f;
    font-weight: normal;
}
.balance-new-admin {
    border-radius: 13px;
    padding: 2px 6px 4px 6px;
    height: min-content;
    background-color: #f58505;
    font-weight: normal;
}
.paid-amount {
    color: #12f977;
    font-weight: 600;
}
.paid-users,
.report-down-admin {
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    color: #6ecdf8;
}
.paid-users {
    text-transform: none;
    margin-bottom: 0;
    font-size: 0.9rem;
}
.table-one-column-check .admin-video-sort-wrap .admin-video-check-label:before {
    top: -5px;
}
.switch-btn {
  display: inline-block;
  width: 55px;
  height: 20px; 
  border-radius: 19px;
  background: #595959;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 17px;
  background: #fff;
  top: -5px;
  left: 0;
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #f58505;
}
.switch-on::after {
  left: 25px;
}
#trial_subtext,
#trial_container,
#trial_subtext_multi,
#trial_container_multi {
    display: none;
}
#discount_subtext,
#trial_subtext,
#discount_subtext_multi,
#trial_subtext_multi {
    margin-top: 0.5rem;
    font-size: 13.5px;
    color: #c4c4c4;
}

.user-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 910px;
}
.user-h2 {
    font-size: 2rem !important;
    text-transform: unset !important;
    margin: 0 auto !important;
    padding: 16px 0 !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
}
.user-h3 {
    font-size: 1.9rem !important;
    text-transform: unset !important;
    margin: 0 auto !important;
    padding: 15px 0 !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
}
.user-text {
    margin-bottom: .9rem;
    font-size: 17px;
    line-height: 1.75;
    letter-spacing: 1px;
    color: #fff;
}
.user-link {
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    color: #6ecdf8;
    font-size: 17px;
    line-height: 1.75;
}
.user-link:hover {
    outline: none;
    box-shadow: none;
    color: rgb(245, 133, 5);
}

.hidden{
    display:none;
} 

.name_user_get{
    display: none;
}

/*-------Адаптив-------*/
@media(max-width: 1200px) {
    .top-navigation ul li a {
        font-size: 1rem;
    }
    .index-live-item-video a {

    }
    .footer-left-column p {
        font-size: .7rem;
    }
    .footer-left-column span {
        font-size: .7rem;
    }
}
@media(max-width: 1080px) {
    .top-navigation ul li a {
        padding: 6px 10px 6px 10px;
        font-size: .9rem;
        font-weight: 600;
    }
      .index-live-item-video a {
        min-height: 195px;
    }
    .footer-left-column {
        max-width: 22%; 
    }
    .footer-center-column {
        flex-basis: 65%;
        max-width: 62%;
    }
    .footer-right-column {
        width: 15%;
    }
}
@media(max-width: 992px) {
    .header {
        padding: 0 10px 0 10px;
    }
    .top-navigation {
        margin-left: 2px;
    }
    .top-navigation ul li a {
        padding: 6px 6px 6px 6px;
        font-size: .75rem;
    }
    .right-heder .search-button {
        padding: 11px 10px 11px 10px;
    }
    .index-live-item {
        flex-basis: 48.7%;
        max-width: 48.7%;
        min-height: 48.7%;
    }
    .index-live-item-video a {
        
    }
    .footer-right-column {
        width: 7%;
    }
     .footer-center-column {
        flex-basis: 70%;
        max-width: 70%;
        padding-left: 10px;
    }
    .footer-container {
        padding: 16px 10px;
    }
}

#img_banner_trash{
    display: none;
}

.admin-video-btn1 {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #c4c4c494;
    letter-spacing: 1px;
}

.admin-video-btn2 {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #c4c4c494;
    letter-spacing: 1px;
}

.admin-video-btn3 {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #c4c4c494;
    letter-spacing: 1px;
}

.admin-video-btn4 {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #c4c4c494;
    letter-spacing: 1px;
}

.video-btn-active1 {
    color: #fff;
    cursor: pointer;
}

.video-btn-active2 {
    color: #fff;
    cursor: pointer;
}

.video-btn-active3 {
    color: #fff;
    cursor: pointer;
}

.video-btn-active4 {
    color: #fff;
    cursor: pointer;
}
.video-btn-active1:hover {
    outline: none;
    box-shadow: none;
    color: rgb(245, 133, 5);
}

.video-btn-active2:hover {
    outline: none;
    box-shadow: none;
    color: rgb(245, 133, 5);
}

.video-btn-active3:hover {
    outline: none;
    box-shadow: none;
    color: rgb(245, 133, 5);
}

.video-btn-active4:hover {
    outline: none;
    box-shadow: none;
    color: rgb(245, 133, 5);
}

.admin-video-item-h-date{
    color: #c4c4c494;
    cursor:pointer;
    pointer-events: auto;
}
.admin-video-item-h-date-active{
    color: #faf7f7; 
}
/*Slider*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

#slider-wrap{
    max-width: 100%;
    margin: 0 auto;
}

#active-slide {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slider{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

@media (max-width: 660px) {
  #slider-wrap {
  }
}
.slide{
   background-size: cover;
   width: 100%;
   list-style: none;
   display: inline;
   float: left;
}

#slider{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.slide{
    list-style: none;
    display: inline;
}

.Radio-But{
    text-align:center;
    position:absolute;
    top: 55%;  
    left: 16.7%;
}

.Radio-But .ctrl-select {
    display:inline-block;
    overflow:hidden;
    text-indent:-9999px;
    background-color: #e8e5eb;
    margin-right: 20px;
    width:16px;
    height:10px;
    border-radius: 5px; 
}

.Radio-But .ctrl-select:hover {
    cursor:pointer;
    background-position:center center;
    background-color: #a3ad47;
}

.Radio-But .ctrl-select.active {
    background-position:center top;
    background-color: #d9e2de;
}

#prewbutton, #nextbutton {
    display:block;
    width:30px;
    height:30px;
    position:absolute;
    top:70%;
    overflow:hidden;
    text-indent:-999px;
    opacity:0.5;
    z-index:3;
    outline:none !important;
}

#prewbutton {
    left:2%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #e5e2e7;
}

#nextbutton {
    right:2%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #dbd9dd;
}

#prewbutton:hover, #nextbutton:hover {
    opacity:1;
}